In [1]:
import pandas as pd
import numpy as np
import formulas
import psycopg2
from tqdm import tqdm

In [2]:
viewName = 'vw_jogo_kpi'

In [3]:
conn = psycopg2.connect(
    host="ec2-52-86-115-245.compute-1.amazonaws.com",
    database="d92em23mmlh07d",
    user="yjixuohawbxqpj",
    password="61a11b1ebe328f19fc17be47b54382fc78a89a613d3eaea7633ff4cf4a3d73ad"
)

cur = conn.cursor()

In [4]:
cur.execute(
    "SELECT a.attname " +
    "FROM pg_attribute a JOIN pg_class t on a.attrelid = t.oid JOIN pg_namespace s on t.relnamespace = s.oid " +
    "WHERE a.attnum > 0 AND NOT a.attisdropped AND t.relname = '" + viewName + "' AND s.nspname = 'public' " +
    "ORDER BY a.attnum;"
)
columnsResult = cur.fetchall()

In [5]:
title = []
for i in columnsResult:
    title.append(i[0])

In [11]:
cur.execute("select * from " + viewName)
jogoKPI = cur.fetchall()

In [18]:
df = pd.DataFrame(jogoKPI)
for n,col in enumerate(title):
    df = df.rename(columns={n:col})

df = df[df.dt_referencia == max(df.dt_referencia)]

df = df.drop(['dt_referencia', 'vl_nota'], axis = 1)

df.set_index('id_jogo', inplace=True)

df

,nm_jogo,nr_min_jogadores,nr_max_jogadores,fl_idade,oh_bola,oh_carta,oh_bebida_alcoolica,oh_bastao,oh_quadra,oh_papelaria,...,oh_diversos,oh_esporte,oh_jogos_de_azar,oh_jogos_de_cartas,oh_jogos_de_tabuleiro,oh_jogos_para_adultos,oh_jogos_para_crianças,qt_avaliacao,qt_hist_avaliacao,vl_hist_nota
id_jogo,,,,,,,,,,,,,,,,,,,,,
1,Taco,4,4.0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,15,3.6082
2,Pega Pega,3,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,10,3.9921
3,Truco,4,6.0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,10,3.4873
4,Sueca,2,NaN,1,0,1,1,0,0,0,...,0,0,0,1,0,1,0,0,9,4.2563
5,Bambole,2,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,7,3.8996
6,Mimica,2,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,7,4.4797
7,Stop!,4,NaN,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,7,3.4761
8,Cordinha,3,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,12,3.3432
9,Queimada,4,NaN,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,11,4.4188
10,Proibido falar não,3,NaN,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,12,4.6255